.chat-card__chat {
    background-color: var(--color-gray-700);
    border-radius: 20px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 15px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.chat-card__chat:hover {
    background-color: var(--color-gray-500);
}

.chat-card__chat-avatar {
    border-radius: 50%;
    background-color: var(--color-white);
    width: 50px;
    height: 50px;
    object-fit: cover;
    flex-shrink: 0;
}

.chat-card__chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    min-width: 0;
}

.chat-card__chat-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-card__chat-last-message {
    font-size: 14px;
    color: var(--color-gray-200);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}