.room-card__container {
    background-color: var(--color-gray-700);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.room-card__main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.room-card__container:hover {
    background-color: var(--color-gray-600);
    cursor: pointer;
}

.room-card__container--active {
    background-color: var(--color-purple)
}

.room-card__container--active:hover {
    background-color: var(--color-purple-dark)
}

.room-card__name {
    font-size: 20px;
}

.room-card__info {
    color: var(--color-gray-400);
}

.room-card__trash-icon {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: var(--color-red);
    padding: 10px;
}