.tag__container {
    padding: 8px 20px;
    border-radius: 5px;
    width: auto;
    background-color: color-mix(in oklab, var(--color-green-dark) 20%, transparent);
    color: var(--color-green);
    border: 1px solid var(--color-green);
    text-align: center;
}